body,
html {
    font-family: 'Open Sans', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}


/************************Nouvelle page***************************
*****************************************************************
*****************************************************************/

/* PAGE INDEX START */

/* START-INFO */
.info {
    width: 100%;
    margin: 85px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info .info_left {
    width: 30%;
    height: 250px;
    background: url('../IMG/solde1.webp');
    background-color: crimson;
}

.info .info_right {
    width: 29.5%;
    height: 250px;
    background: url('../IMG/solde2.webp');
    background-color: forestgreen;
}

/* END-INFO */


/* START CATEGORIES */
.cat {
    text-align: center;
}

.cat .entete {
    margin-bottom: 85px;
}

.cat .entete h2 {
    font-size: 4em;
}

.cat .entete p {
    font-size: 1.5em;
}

.cat .entete button {
    color: #fff;
    font-size: 1em;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    background: #000;
}

.cat .card_image {
    width: 100%;
    margin: 85px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cat .card_image .card {
    position: relative;
    width: 20%;
    height: 350px;
    border-radius: 15px;
    background: url('../IMG/cat/cat-man.jpeg');
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}

.cat .card_image .card>div {
    position: absolute;
    bottom: 30px;
}

.cat .card_image .card div>button {
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    background: #fff;
}

/* END CATEGORIES */

/* START ARRIVAGES */

.cat .entete .but_blanc {
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px 35px;
    border: 1px solid;
    border-radius: 5px;
    background: #fff;
}

.card_imgArr {
    width: 100%;
    padding: 0;
    margin-bottom: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.cat .card_imgArr .card1 {
    height: 600px;
    width: 25%;
    background: url('../IMG/woman1.jpeg');
    background-position: center center;
    background-size: cover;
    margin-top: 90px;
}

.cat .card_imgArr .card2 {
    height: 600px;
    width: 25%;
    background: url('../IMG/Rectangle\ 19.png');
    background-position: center center;
    background-size: cover;
}

.cat .card_imgArr .card3 {
    height: 600px;
    width: 25%;
    background: url('../IMG/woman2.jpeg');
    background-position: center center;
    background-size: cover;
    margin-top: 90px;

}


/* END ARRIVAGES */


/* START PRODUIT */
.card_imgPr {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.card_imgPr .c {
    width: 50%;
    height: 370px;
}

.card_imgPr .c>.mo {
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
}

.mo1 {
    background: url('../IMG/Product_Image-removebg-preview.png');
    background-position: center center;
    background-size: cover;
}

.mo2 {
    background: url('../IMG/trico.webp');
    background-position: center center;
    background-size: cover;
}

.mo3 {
    background: url('../IMG/Product\ Image\ \(1\).png');
    background-position: center center;
    background-size: cover;
}

/* END PRODUIT */

.traifoo {
    width: 95%;
    border: 1px solid #000;
    margin: 15px auto;
}

/* PAGE INDEX END */



/************************Nouvelle page***************************
*****************************************************************
*****************************************************************/



/* PAGE COLLECTION START */

#sectionCol {
    margin: 0 auto;
}

#sectionCol .images {
    margin: 0 0 0 150px;
}

.titre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0 25px 0;
    font-size: 2rem;
    text-decoration: underline;
}

.bloc_filtre {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloc_filtre .left {
    width: 50%;
}

.bloc_filtre .right {
    width: 50%;
    display: flex;
    justify-content: end;
}

.card_imgPr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.card_imgPr .c {
    width: 25%;
    height: 370px;
}

.card_imgPr .c>.mo {
    width: 70%;
    height: 350px;
    margin-bottom: 15px;
}

.pied_card {
    display: flex;
    justify-content: space-evenly;
    margin-left: -100px;
}

.co1 {
    background: url('../IMG/pexels-david-bartus-297933.jpg');
    background-position: center center;
    background-size: cover;
    resize: none;
}

.co2 {
    background: url('../IMG/woman1.jpeg');
    background-position: center center;
    background-size: cover;
}

.co3 {
    background: url('../IMG/cat/cat-asse.jpeg');
    background-position: center center;
    background-size: cover;
}

.co4 {
    background: url('../IMG/pexels-ylanite-koppens-934069.jpg');
    background-position: center center;
    background-size: cover;
}

.co5 {
    background: url('../IMG/trico.webp');
    background-position: center center;
    background-size: cover;
}

.co6 {
    background: url('../IMG/shoes_product.jpeg');
    background-position: center center;
    background-size: cover;
}

.co7 {
    background: url('../IMG/bag-produit.jpeg');
    background-position: center center;
    background-size: cover;
}

.co8 {
    background: url('../IMG/pexels-lukas-292999.jpg');
    background-position: center center;
    background-size: cover;
}

.co9 {
    background: url('../IMG/Product_Image-removebg-preview.png');
    background-position: center center;
    background-size: cover;
}

/* PAGE COLLECTION END */



/************************Nouvelle page***************************
*****************************************************************
*****************************************************************/


/* PAGE DETAIL PANIER START */
#secDETaiPanier .top {
    width: 70%;
    height: auto;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#secDETaiPanier .top .image {
    width: 40%;
    height: 50vh;
    border: 2px solid rgba(255, 220, 219, 1);
}

#secDETaiPanier .top .description {
    width: 50%;
    height: 50vh;
    margin: 30px;
    margin-left: 55px;
}

#secDETaiPanier .top .description h3 {
    font-size: 3.5em;
    color: rgba(254, 102, 102, 1);
}

#secDETaiPanier .top .description p {
    font-size: 1.5em;
}

#secDETaiPanier .top .description .btnT:hover{
    background: rgba(255, 220, 219, 1);
    border-color: rgba(254, 102, 102, 1);
    border-radius: 10%;
}

#secDETaiPanier .top .btnT {
    width: 60px;
    height: 60px;
    font-size: 1.7rem;
    border: 2px solid #999;
    background-color: #fff;
}

#secDETaiPanier .top .btn-detail {
    width: 350px;
    height: 50px;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    background-color: #000;
}

.wrapperBtn {
    float: right;
    margin-right: 210px;
    background-color: #fff;
    border: 1px solid #000;
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapperBtn > span {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.wrapperBtn span.num {
    font-size: 1.3rem;
    pointer-events: none;
}


@media screen and (max-width:1757px) {
    #secDETaiPanier .top {
        width: 100%;
        height: auto;
        margin: 60px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #secDETaiPanier .top .image {
        width: 30%;
        height: 50vh;
        border: 2px solid rgba(255, 220, 219, 1);
    }
    #secDETaiPanier .top .description {
        width: 40%;
        height: 50vh;
        margin: 30px;
        margin-left: 55px;
    }
}

@media screen and (max-width:1608px) {
    #secDETaiPanier .top{
        flex-direction: column;
    }
    .wrapperBtn {
        float: right;
        margin-right: 210px;
        background-color: #fff;
        border: 1px solid #000;
        height: 45px;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #secDETaiPanier .top .description {
        width: 100%;
        height: 50vh;
        text-align: center;
        /* margin: 30px;
        margin-left: 55px; */
    }
    #secDETaiPanier .top .image {
        width: 70%;
        height: 50vh;
        border: 2px solid rgba(255, 220, 219, 1);
    } 
}

@media screen and (max-width:1569px) {
    #secDETaiPanier .top .description {
        position: relative;
        flex-direction: column;
    }
    .wrapperBtn {
        position: absolute;
        left: 500px;
        background-color: #fff;
        border: 1px solid #000;
        height: 45px;
        width: 10%;
        margin: 3px 0 0 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bgc{
        margin-top: 30px;
    }
}

@media screen and (max-width:1228px) {
    #secDETaiPanier .top .description {
        position: relative;
        flex-direction: column;
    }
    .wrapperBtn {
        position: absolute;
        left: 500px;
        background-color: #fff;
        border: 1px solid #000;
        height: 45px;
        width: 10%;
        margin: 3px 0 0 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bgc{
        margin-top: 30px;
    }
    .card_imgPr{
        width: auto;
        flex-direction: column;
        image-resolution: none;
    }

    .card_imgPr > img{
        width: 100%;
        flex-direction: column;
        image-resolution: none;
    }

}

@media screen and (max-width:320px) {
    #secDETaiPanier .top .description {
        min-width: 100%;
        position: relative;
        flex-direction: column;
    }
    .wrapperBtn {
        position: absolute;
        left: 500px;
        background-color: #fff;
        border: 1px solid #000;
        height: 45px;
        width: 10%;
        /* margin: 3px 0 0 80px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bgc{
        margin-top: 30px;
    }
    .card_imgPr{
        width: 100%;
        flex-direction: column;
        image-resolution: none;
    }

    .card_imgPr > img{
        width: 100%;
        image-resolution: none;
    }

}

/* PAGE DETAILS PANIER END */



/************************Nouvelle page***************************
*****************************************************************
*****************************************************************/

/* START PANIER PAGE */

.bloc_pan .topPan {
    width: 58%;
    margin: 0 auto;
    margin-top: 50px;
    line-height: 100%;
}

.bloc_pan .topPan h2 {
    font-size: 2.5em;
    color: rgba(254, 102, 102, 1);
}

.bloc_pan .topPan p {
    font-size: 1.7em;
}

.bloc_pan .bottm {
    width: 58%;
    margin: 0 auto;
    margin-top: 85px;
    margin-bottom: 55px;
    display: flex;

}

.bloc_pan .bottm .leftPan {
    width: 55%;
}


.bloc_pan .bottm .leftPan .b1 {
    display: none;
    align-items: center;
    justify-content: baseline;
}

.bloc_pan .bottm .leftPan .b1 .imgPan {
    width: 200px;
    height: 200px;
    background: url("../IMG/pexels-ylanite-koppens-934069.jpg");
    background-position: center center;
    background-size: cover;
    margin-bottom: 25px;
}

.bloc_pan .bottm .leftPan .b1 .textPan {
    margin-left: 25px;
}

.bloc_pan .bottm .leftPan .b1 .textPan h4 {
    font-size: 1.8rem;
}

.bloc_pan .bottm .leftPan .b1 .textPan .prixPan {
    font-size: 1.5rem;
}

.bloc_pan .bottm .rightPan {
    width: 45%;
    padding: 8% 5%;
}

.bloc_pan .bottm .rightPan h4 {
    font-size: 1.8rem;
}

.traitPan {
    border: 1px solid #b4b0b0;
    margin: 15px 0;
}

.bloc_pan .bottm .rightPan .btn-detail {
    width: 350px;
    height: 50px;
    text-decoration: underline;
    font-size: 1.2rem;
    color: #000;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 220, 219, 1);
}

/* END PANIER PAGE */


/* START APROPOS PAGE */


.headerpropos .contenu {
    width: 40%;
    text-align: start;
    position: absolute;
    top: 38%;
    left: 13%;
    font-size: 4em;
}

/* partie compagnie */
#blocCompagne {
    width: 100%;
    margin: 80px 0;
}

#blocCompagne .titre {
    background-color: rgba(255, 220, 219, 1);
    padding: 20px 0;
}

#blocCompagne .contenu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#blocCompagne .contenu .sous-contenu {
    width: 20%;
    display: block;
    align-items: center;
    margin-left: 250px;
}

#blocCompagne .contenu .sous-contenu h4 {
    font-size: 2em;

}

#blocCompagne .contenu .sous-contenu p {
    font-size: 1.3em;
}

#blocCompagne .contenu .imgAcol {
    width: 30%;
    margin-right: 100px;
}

#blocCompagne .contenu .imgAcol img {
    width: 450px;
    height: 250px;
    border-radius: 10px;
}


/* partie contact */

#blocContact {
    width: 100%;
    margin: 80px 0;
}

#blocContact .titre {
    background-color: rgba(255, 220, 219, 1);
    padding: 20px 0;
}

#blocContact .contenu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#blocContact .contenu .sous-contenu {
    margin-left: -200px;
}

#blocContact .contenu .sous-contenu a {
    font-size: 1.6em;
    color: #000;
    text-decoration: none;
}

#blocContact .contenu .sous-contenu a>i {
    color: rgba(254, 102, 102, 1);
}

#blocContact .contenu .imgAcol img {
    width: 450px;
    height: 300px;
    margin-top: 10px;
    border-radius: 10px;
}

/* END APROPOS PAGE */




/************************Nouvelle page***************************
*****************************************************************
*****************************************************************/


/* START CONTACT PAGE */

#contact {
    position: relative;
    height: 90vmin;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact .content {
    max-width: 800px;
    text-align: center;
    padding: 0;
}

#contact .content h2 {
    font-size: 5em;
    font-weight: 300;
}

#contact .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#contact .container .contactInfo {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

#contact .container .contactInfo .box {
    width: 100%;
    position: relative;
    padding: 10px 0;
    display: flex;
}

#contact .container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: rgba(255, 220, 219, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}

#contact .container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

#contact .container .contactInfo .box .text h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: rgba(254, 102, 102, 1);
}

#contact .container .contactInfo .box .text p{
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1%;
}

#contact .container .contactForm {
    width: 30%;
    height: 35vh;
    padding: 30px;
    background: rgba(255, 220, 219, 1);
}

#contact .container .contactForm h2 {
    font-size: 30px;
    font-weight: 500;
}

#contact .container .contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

#contact .container .contactForm .inputBox input,
#contact .container .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #bababa;
    outline: none;
    resize: none;
}

#contact .contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

#contact .contactForm .inputBox input:focus ~ span, 
#contact .contactForm .inputBox input:valid ~ span, 
#contact .contactForm .inputBox textarea:focus ~ span, 
#contact .contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

#contact .contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #fff;
    color: #e91e63;
    border: none;
    cursor: pointer; 
    padding: 10px;
    font-size: 18px;
    border-radius: 10%;
}

.lesinfo{
    width: 100%;
    padding: 30px 0px 30px 0px;
    background: rgba(255, 220, 219, 1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 2%;
    margin-bottom: 50px;
}


.lesinfo p{
    font-size: 2rem;
}

.lesinfo span{
    font-size: 1rem;
}

@media (max-width: 958px){
    #contact{
        position: relative;
        margin-top: 100px;
    }
}

@media (max-width: 829px){
    #contact{
        position: relative;
        top: 100px;
    }
    #contact .contactInfo .box{
        width: 100%;
    }

    #contact .contactInfo .box .text{
        width: 100%;
    }
}

@media (max-width: 990px) {
    /* #contact{
        padding: 25px;
    } */
    #contact .content h2{
        font-size: 2em;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,.contactForm{
        width: 100%;
    }
}

@media screen and (max-width:1004px) {
    #contact .container{
        height: auto;
    }
    #contact .container .contactForm {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:964px){
    .lesinfo{
        margin-top: 250px;
    }
    .lesinfo > div{
        display: flex;
        justify-content: center;
    }
}

/* END CONTACT PAGE */


@media screen and (max-width:320px){
    html{
        width: 100%;
    }
}


/* RESPOSIVE INFO INDEX */
@media (max-width:1076px) {
    .info{
        display: flex;
        flex-direction: column;
    }
    .info .info_left{
        width: 60%;
        margin-bottom: 15px;
        background-position: center center;
        background-size: cover;
        image-resolution: none;
    }
    .info .info_right{
        width: 60%;
        margin-bottom: 15px;
        background-position: center center;
        background-size: cover;
        image-resolution: none;
    }
    .cat .card_imgArr{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cat .card_imgArr .card1,  .cat .card_imgArr .card2,  .cat .card_imgArr .card3{
        width: 60%;
        margin-bottom: 15px;
        background-position: center center;
        background-size: cover;
        image-resolution: none;
    }
    .cat .card_imgPr .c .mo{
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .mo1, .mo2, .mo3{
        width: 40%;
    }
}

@media (max-width:1512px) {
    .cat .card_image{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .cat .card_image > .card{
       margin-bottom: 20px;
       width: 50vmin;
    }
}


@media screen and (max-width:370px) {
    .info .info_left{
        width: 100%;
    }
    .info .info_right{
        width: 100%;
    }
}



/* RESPONSIVITE COLLECTION */
@media screen and (max-width:1333px) {
    #sectionCol .images .card_imgPr{
        flex-direction: column;
        width: 100%;
    }
    #sectionCol .images .card_imgPr > .c{
        display: block;
        width: 90%;
    }
    #sectionCol .images .card_imgPr > .c > .mo{
        width: 80%;
        background-position: center center;
        background-size: cover;
        image-resolution: none;
    }
    #sectionCol .images .card_imgPr > .c > .pied_card{
        width: 20%;
        float: right;
        margin-right: -400px;
    }
}

@media screen and (max-width:1599px){
    #sectionCol .images .card_imgPr > .c > .pied_card{
        display: flex;
        justify-content: center;
    }
    #sectionCol .images .card_imgPr > .c > .pied_card > .text{
        width: 70%;
    }
}



/* RESPONSIVITE APROPOS */

@media screen and (max-width:1225px){
    #blocCompagne .contenu, #blocContact .contenu{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    #blocCompagne .contenu .sous-contenu, #blocContact .contenu .sous-contenu{
        text-align: center;
        margin-left: 70px;
        width: 90vmin;
    }
    #blocCompagne .contenu .imgAcol, #blocContact .contenu .imgAcol{
        text-align: center;
        margin-left: 70px;
        width: 90vmin;
    }
    #blocCompagne .contenu .sous-contenu, #blocContact .contenu .imgAcol{
        margin-bottom: 20px;
    }
}


/* RESPONSIVITE CONTACT */
